body {
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: sans-serif;
}

#page {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #808080;
}

#menu {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 40px;
}

#navigator {
	position: absolute;
	left: 0px;
	top: 40px;
	bottom: 100px;
	width: 250px;

	z-index: 100;
}

#property {
	position: absolute;
	right: 0px;
	top: 40px;
	bottom: 100px;
	width: 250px;

	z-index: 100;
}

#timeline {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100px;

	z-index: 100;
}

#scene {
	position: absolute;
	left: 250px;
	right: 250px;
	top: 40px;
	bottom: 100px;
	min-width: 300px;

	color: black;
	background-color: white;

	z-index: 0;
}

#menu,#navigator,#property,#timeline,#content {
	border: 2px solid #505050;
	padding: 0px;
}

#save {
}

.dirty {
	background-color: #a0ffa0;
}

.nav_list,.prop_list {
	font-size: 10pt;
	margin: 3pt;
}

.title {
	font-weight: bold;
}

.label {
	margin-left: 10px;
	padding-right: 10px;
}

.value {
	font-style: italic;
}

.grouped {
 	margin-left: 25px;
}

.color {
	float: left;
	width: 20px;
	height: 20px;
	margin: 2px;
/*	border: solid black 1px;*/
}
 
.expand {
	color: red;
	height: 12px;
	margin-right: 5px;
}
.empty {
	background-color: #dddddd;
}

.link,.expand {
	cursor: pointer;
}
